/* CSS file for Benefits.tsx */

#benefit-container{
    display: flex;
    flex-direction: column;
    gap:10px;

    padding:20px 10px;
}
#benefit-container>h1{
    font-size: 1.22rem;
}
#benefit-container .benefits-section{
    display: flex;
    flex-direction: column;
    gap:2rem;
    font-size: 1.01rem;
}
#benefit-container .benefits-section li{
    background-color: #ffff;
    padding:10px;
    border-radius: 10px;
}
#benefit-container .benefits-section li h1{
    padding:5px;
}
#benefit-container .others button{
    background-color: beige;
    padding:10px;
    border-radius: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin:10px auto;
    text-align: center;
    min-width: 300px;
}